 <header class="header">
            <div class="grip">
                 
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--separate ">Vào của hàng trên ứng dụng f8 

                            {{!-- <div class="scaner-qr">
                                <img src="img/qr_code.png" alt="" class="qr-img">
                                <div class="list-phone-img">
                                    <img src="/img/app_store.png" alt="" class="phone-img">
                                    <img src="/img/google_play.png" alt="" class="phone-img">
                                </div>
                            </div> --}}
                        </li>
                        <li class="header__navbar-item">Kết Nối
                        <a href="" class="icon-button">  <i class="fa-brands fa-facebook"></i></a>   
                        <a href="" class="icon-button"><i class="fa-brands fa-instagram"></i></a> 
                        </li>


                      
    
    
                    </ul>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item"> 
                            
                            <i class="fa-solid fa-bell"></i>
                                    Thông Báo  

                            <div class="">
                                {{!-- <div class="notification__header">
                                Thông báo mới nhận  
                                </div>
                                <div class="notification__content">
                                    <div class="detail-content">
                                        <img src="/img/tải xuống.jpg" alt="" class="content-img">
                                        <div class="content-text">
                                            <h3 class="emphasize-text">Xác thực chính hãng nguồn gốc các sản phẩm </h3>
                                            <p class="detail-text">Tỉ lệ ăn cực thấp đồng nghĩa với việc nhà cái  So với 15 đội còn lại, tỉ lệ của Man City đang “nằm riêng một góc”</p>
                                        </div>
                                    </div>
                                    <div class="detail-content">
                                        <img src="/img/tải xuống (1).jpg " alt="" class="content-img">
                                        <div class="content-text">
                                            <h3 class="emphasize-text">Xác thực chính hãng nguồn gốc các sản phẩm </h3>
                                            <p class="detail-text">Tỉ lệ ăn cực thấp đồng nghĩa với việc nhà cái  So với 15 đội còn lại, tỉ lệ của Man City đang “nằm riêng một góc”</p>
                                        </div>
                                    </div>
                                    <div class="detail-content">
                                        <img src="/img/tải xuống (2).jpg" alt="" class="content-img">
                                        <div class="content-text">
                                            <h3 class="emphasize-text">Xác thực chính hãng nguồn gốc các sản phẩm </h3>
                                            <p class="detail-text">Tỉ lệ ăn cực thấp đồng nghĩa với việc nhà cái  So với 15 đội còn lại, tỉ lệ của Man City đang “nằm riêng một góc”</p>
                                        </div>
                                    </div>
                                    <div class="notification-button">
                                        <a href="" class="all-button">Xem tất cả </a>
                                    </div>
                                </div> --}}
                            </div>
                              </li>
                        <a href="/createProduct" style="color: white;" class="header__navbar-item">
                            
                            Thêm sản phẩm
                        <a class="avatar">
                            <div class="avatar-container">
                                <img src="/img/tải xuống.jpg" alt="" class="avatar-img">
                                <p class="avatar-name">Văn Toàn</p>
                            </div>
                        </a>
        
    
                    </ul>
                </nav>
                <div class="header-function">
                       <div class="logo">
                        <a href="/">
                            <img src="/img/Screenshot 2022-11-08 174402.jpg" alt="" class="img-logo">
                        </a>
                        </div>

                        <div class="header-search">
                            <input id='search-product'type="text" class="search-input" placeholder="Nhập để tìm kiếm sản phẩm ">
                            <div id="searchListProduct" class="list-history">
                                {{!-- <p class="title-history"> tìm kiếm </p>
                                <p class="history-element"> </p> --}}
                               
                                
                                
                            </div>
                            <div class="option">
                                <span class="option-selection">Trong Shop <i class="fa-solid fa-arrow-down"></i>
                                    <ul class="list-option">
                                        <li class="selection-dif">Trong Shop <i class="fa-solid fa-check"></i></li>
                                        <li class="selection-dif">Ngoài Shop </li>
                                       
                                    </ul>
                                </span>
                                
                            </div>
                            <button class="search-button"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                            
                        </div>
                        <div class="cart">
                            <a href="/cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                              {{!-- {{#if cart}}
                            <span class="number-cart">{{cart.totalQuantity}}</span>
                             {{/if}} --}}
                            </a>
                          
                        </div>
                </div>
            </div>
            
        </header>